{% extends "layout.html.twig" %}

{% block content %}
    <section>

        <h1>Some Fruits freshly picked from persistence</h1>

        {% if fruits %}
            <p>
                Hint: click on a fruit to edit it!
            </p>

            <ul>
                {% for fruit in fruits %}
                    <li>
                        <a href="editFruit?fruit={{ fruit.identifier }}">
                            I am a
                            {% if fruit.name %}
                                {{ fruit.name }}
                            {% else %}
                                nameless fruit
                            {% endif %}
                            and my color is {{ fruit.color }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <form action="/deleteAllFruits" method="post">
                <input type="submit" value="Delete all fruits">
            </form>
        {% else %}
            <h3>OH WAIT! There is no Fruit yet.</h3>
            <form action="/createDemoFruits" method="post">
                <input type="submit" value="Create a bunch of fruits">
            </form>
        {% endif %}

        <p>
            Not enough fruits? Just create your own fruit here:
        </p>

        <form action="createFruit" method="post">
            <p>
                <label>
                    Name
                    <input type="text" name="name"/>
                </label>
            </p>

            <p>
                <label>
                    Color
                    <input type="text" name="color"/>
                </label>
            </p>
            <input type="submit" value="Create it!">
        </form>

        <h2>The NoDB Storage</h2>

        <p>
            Since there is no configuration for any storage or database I owe you an explanation.
            BlueSprints uses the file system as storage. The full qualified class name of a model is converted into a
            directory structure. Inside the last directory all models are stored in files named by their identifier.
            The objects are serialized, since this is the fastest option to store all simple values without reflection,
            additional configuration or huge ORMs.
        </p>

        <h2>WIP !</h2>

        <p>
            The Storage function is currently work in progress. Some missing features are automatic index tables for
            searching models by their properties or the deletion of those.
        </p>

        <h2>Like it? Or not?</h2>

        <p>
            Have a look at the code which creates a fruit from the form above:
        </p>

        <pre>
            $arguments = $this->request->getParsedBody();
            if (isset($arguments['name'], $arguments['color'])) {
                $fruit = new Fruit();
                $fruit->setColor($arguments['color']);
                $fruit->setName($arguments['name']);
                $fruit->save();
            }
            $this->redirect('listFruits');
        </pre>

        <p>
            As I promised you, it is easy as pie. If you want to alter the Model, say add a new property, just do it.
        </p>

        <p>
            <a href="..">Back to the index</a>
        </p>
    </section>
{% endblock %}
